@import "/home/zus/.config/waybar/color-schemes/everforest_dark_hard.css";

/* 
 * Common configuration
 */
* {
  font-family: FontAwesome, DejaVu Sans Mono, monospace, sans-serif;
  font-size: 14px;
  border: none;
}

button:hover {
  background: @bg_visual;
  color: @grey0;
  border: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

label:focus {
  background-color: @bg1;
}

@keyframes blink {
  to {
    color: @yellow;
  }
}

/*
 * Waybar tooltips
 */
tooltip {
  color: @grey2;
  background-color: @bg2;
  text-shadow: none;
  opacity: 0.90;
}

tooltip * {
  color: @grey2;
}

/*
 * Waybar window
 */
window#waybar {
  background-color: @bg_dim;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#window {
  margin: 0;
}

/*
 * Common widget configuration
 */
#backlight,
#clock,
#cpu,
#disk,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 10px 0 5px;
}

#clock,
#backlight,
#battery,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  color: @grey2;
}

#workspaces button,
#custom-banner,
#custom-media,
#custom-spotify,
#backlight,
#battery,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray {
  border-radius: 10px;
}

/*
 * Battery
 */
#battery {
  /*font-size: 22px;*/
  padding: 0 9px 0 8px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  /*font-size: 22px;*/
}

#battery.critical:not(.charging) {
  color: @red;
  background-color: @bg_red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
 * Clock
 */

/*
 * Media
 */
#custom-media {
  padding: 0 20px 0 9px;
  color: @fg;
  background-color: @bg1;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: @bg_dim;
  background-color: #66cc99;
}

/*
 * Banner
 */
#custom-banner {
  padding: 0 12px 0 12px;
  color: @fg;
  background-color: @bg1;
  min-width: 100px;
}

/*
 * Inhibitor
 */
#idle_inhibitor {
  /*font-size: 22px;*/
  padding: 0 9px 0 9px;
}

#idle_inhibitor.activated {
  color: @fg;
  background-color: @bg1;
}

/*
 * Keyboard state
 */
#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

/*
 * Language
 */
#language {
  padding: 0 7px;
  margin: 0 5px;
  min-width: 16px;
}

/*
 * Mode
 */
#mode {
  background-color: @bg1;
  color: @fg;
}

/*
 * MPD
 */
#mpd.disconnected {
  color: @fg;
}

/*
 * Network
 */
#network {
  padding: 0 15px 0 7px;
  /*font-size: 22px;*/
}

#network.disconnected {
  color: @red;
}

/*
 * Temperature
 */
#temperature.critical {
  /*font-size: 22px;*/
  color: @red;
  background-color: @bg_red
}

/*
 * Tray
 */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @bg_yellow;
}

/*
 * Workspaces
 */
#workspaces {
  margin: 0 20px;
}

#workspaces button {
  background-color: transparent;
  color: @grey0;
  border: none;
}

#workspaces button#sway-workspace-1 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-2 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-3 {
  padding: 0 7px 0 7px;
}

#workspaces button#sway-workspace-4 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-5 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-6 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-7 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-8 {
  padding: 0 7px 0 8px;
}

#workspaces button#sway-workspace-9 {
  padding: 0 7px 0 8px;
}

#workspaces button:hover {
  background: @bg0;
  color: @fg;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  background-color: @bg1;
  color: @fg;
}

#workspaces button.urgent {
  background-color: @bg_yellow;
  color: @yellow;
}

#workspaces button:nth-child(3) {
  padding: 0 9px;
}

#workspaces button label {
  /*font-size: 22px;*/
}

#workspaces button:nth-child(1) label {
  font-weight: bold;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
